<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Console output for logging -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%highlight([%thread] ~ %-5level:) %d{HH:mm:ss.SSS} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Root logger configuration -->
  <!-- Change the log level to WARN to reduce the amount of logs -->
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Optionally, set different levels for specific loggers -->
  <logger name="customapi.server" level="info"/>
</configuration>
